{% extends 'TalanDynamicFormBundle::layout.html.twig' %}
{% block body %}
    <div class="row">
        <h2>{{form.name}}</h2>
        <hr/>
        <input type="hidden" ng-model="formId" ng-init="formId = {{form.id}}">
        <form class="form-horizontal" action="{{path('talan_dynamic_form_fo', {'form': form.id})}}" method="POST">
            <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <button type="submit" class="btn btn-primary">{{ 'dynamicForm.btn.save' | trans }}</button>
                    <button type="reset" class="btn btn-default">{{ 'dynamicForm.btn.reset' | trans }}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12 footer"></div>
    </div>
{% endblock body %}